*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  font-size: 16px;
}
body {
  font-family: "Exo 2", sans-serif;
  background-color: #a175de;
}
nav,
button,
a {
  min-width: 48px;
  min-height: 48px;
}
/* prettier-ignore */
img, embed,
object, video,
iframe {
   max-width: 100%;
   height: auto;
}

/*
================================
 Content

================================
*/

/* General elements */

.btn {
  font-family: inherit;
  cursor: pointer;
}

/* Class modifiers */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}
.hidden {
  visibility: hidden;
}

/* 
 *
 * Head
 *
 *
 */

.head {
  width: 100%;
}
.head__label {
  margin: 1rem;
  text-align: center;
}
.head__label--title {
  width: 100%;
  height: 4rem;
  padding: 5px;
  font-size: 3.2rem;
  font-weight: 500;
  color: #eefc10;
}

/* 
 *
 * Main
 *
 *
 */

.main {
  width: 100%;
  height: 100%;
}
.main__content {
  padding: 12px;
}

/* 
 *
 * Main
 *
 * * * Content
 *
 *
 */

.main .content__container {
  width: 100%;
}

/* 
 *
 * Main
 *
 * * * Content
 *
 * * * * * Container
 *
 *
 */

.main .container__label {
  display: block;
  max-width: 40rem;
  padding: 1rem;
  margin: 1rem auto;
  font-size: 1.8rem;
  font-weight: 300;
  color: #6a9034;
  text-align: center;
  cursor: default;
  background-color: azure;
  border-radius: 12px;
}
.main .container__btn {
  display: block;
  padding: 1rem;
  margin: 1rem auto;
  font-size: 1.2rem;
  background-color: azure;
  border: 1px solid black;
}
.main .container__btn:hover {
  background-color: gainsboro;
}
.main .container__item--board {
  display: grid;
  grid-template-columns: repeat(3, minmax(6rem, 14rem));
  grid-template-rows: repeat(3, minmax(6rem, 1fr));
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;
}

/* 
 *
 * Main
 *
 * * * Content
 *
 * * * * * Container
 *
 * * * * * * * Item
 *
 *
 */

.main .item__btn {
  height: 100%;
  padding: 50% 0;
  font-size: 3.7rem;
  text-align: center;
  background: none;
  border-style: solid;
  border-color: ghostwhite;
}

/* 
 *
 * Modal
 *
 *
 */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  max-width: 30rem;
  width: 80%;
  padding: 1rem;
  background-color: white;
  border-radius: 12px;
  transform: translate(-50%, -50%);
}
.modal__btn--close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2.8rem;
  background: none;
  border: none;
}
.modal__container {
  padding: 1rem;
}

/* 
 *
 * Modal
 *
 * * * Container
 *
 *
 */

.modal__container .container__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px;
  text-align: center;
}

/* 
 *
 * Modal
 *
 * * * Container
 *
 * * * * * Item
 *
 *
 */

.modal .item__name,
.modal .item__marker {
  display: inline-block;
  padding: 5px;
  margin: 5px;
}
.modal .item__label {
  font-size: 1.4rem;
}
.modal .item__marker {
  width: 30%;
  padding-left: 12px;
  font-size: 1.2rem;
}
