*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  font-size: 16px;
}
body {
  background-color: #d1ffa8;
}
nav,
button,
a {
  min-width: 48px;
  min-height: 48px;
}
img,
embed,
object,
video,
iframe {
  max-width: 100%;
  height: auto;
}

/*
================================
 Content

================================
*/

/*
 * Main
 *
 *
 *
 */

.main {
  width: 100%;
  padding: 12px;
}
.main__header {
  width: 100%;
  height: 4rem;
  padding: 5px;
  font-size: 3.6rem;
}
.game {
  width: 90%;
  margin: 1rem auto;
}
.game__label {
  height: 1rem;
  margin: 1rem 0;
  font-size: 1.4rem;
}
.game__btn {
  display: block;
  margin: 1rem auto;
  border: 1px solid black;
}

/*
 *
 * Board
 *
 *
 */

.board {
  display: grid;
  grid-template-columns: repeat(3, minmax(8rem, 16rem));
  grid-template-rows: repeat(3, minmax(8rem, 16rem));
  align-items: center;
  justify-content: center;
}
.board__btn {
  width: 100%;
  height: 100%;
  padding: 50% 0;
  font-size: 2.7rem;
  text-align: center;
  cursor: pointer;
  background: none;
  border-style: solid;
  border-color: red;
}
/* Draw horizontal lines */
.board__btn:nth-child(n + 4) {
  /* For every child after the 3rd one */
  border-top-width: 5px;
}
/* Draw vertical lines */
.board__btn:nth-child(3n-1) {
  /* For every 2th child (middle child) */
  border-left-width: 5px;
  border-right-width: 5px;
}
