*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  font-size: 16px;
}
body {
  font-family: "Exo 2", sans-serif;
  background-color: #9c59b6;
}
nav,
button,
a {
  min-width: 48px;
  min-height: 48px;
}
/* prettier-ignore */
img, embed,
object, video,
iframe {
   max-width: 100%;
   height: auto;
}
:root {
  /* Primary Colors */
  --color-primary-light: #cdacda;
  --color-primary-light-hover: #a48aae;
  --color-primary-dark: #6d3981;
  /* Secondary Colors */
  --color-secondary-dark: #ffe133;
  /* Tertiary Colors */
  --color-tertiary-greenyellow: #beee6f;
  --color-tertiary-darkgreen: #6ba013;
}

/*
================================
 Content

================================
*/

/* General elements */

.btn {
  background-color: var(--color-primary-light);
  border: 2px solid var(--color-primary-dark);
}
.btn:hover {
  cursor: pointer;
  background-color: var(--color-primary-light-hover);
}

/* Class modifiers */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}
.hidden {
  visibility: hidden;
}

/* 
 *
 * Head
 *
 *
 */

.head {
  width: 100%;
  height: 5rem;
  padding: 1rem;
  /* background-color: red; */
}
.head__label--title {
  width: 100%;
  font-size: 3.1rem;
  font-weight: 300;
  color: var(--color-secondary-dark);
  text-align: center;
}

/* 
 *
 * Main
 *
 *
 */

.main {
  width: 100%;
  height: 100%;
}
.main__content {
  width: 90%;
  padding: 1rem;
  margin: 1rem auto;
  /* background-color: yellow; */
}
/* Content */
.main .content__container {
  width: 100%;
  padding: 1rem;
}

/* 
 *
 * Main
 *
 * * * Content
 *
 * * * * * Container
 *
 *
 */

.main .container__label {
  display: block;
  max-width: 30rem;
  padding: 0.5rem;
  margin: 1rem auto;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-tertiary-darkgreen);
  text-align: center;
  background-color: white;
  border: 2px solid var(--color-primary-dark);
  border-radius: 12px;
}
.main .container__btn {
  display: block;
  padding: 1rem;
  margin: 1rem auto;
  font-size: 1.2rem;
}
.main .container__item--board {
  display: grid;
  grid-template-columns: repeat(3, 10rem);
  grid-template-rows: repeat(3, 10rem);
  align-items: center;
  justify-content: center;
}
/* Container item */
.main .item__btn {
  height: 100%;
  font-size: 3.7rem;
  font-weight: 300;
  background: none;
  border-color: var(--color-secondary-dark);
}

/* 
 *
 * Modal
 *
 *
 */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  max-width: 30rem;
  width: 80%;
  padding: 1rem;
  background-color: white;
  border-radius: 12px;
  transform: translate(-50%, -50%);
}
.modal__btn--close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2.8rem;
  font-weight: 500;
  cursor: pointer;
  background: none;
  border: none;
}
.modal__container {
  padding: 1rem;
}

/* 
 *
 * Modal
 *
 * * * Container
 *
 *
 */

.modal__container .container__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  text-align: center;
}
.modal__container .container__label {
  margin: 1rem;
  font-size: 1rem;
  font-weight: 600;
}
.modal__container .container__input--computer {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

/* 
 *
 * Modal
 *
 * * * Container
 *
 * * * * * Item
 *
 *
 */

.modal .container .item__name,
.modal .container .item__marker {
  display: inline-block;
  padding: 5px;
  margin: 7px;
}
.modal .container .item__label {
  font-size: 1.4rem;
  font-weight: 500;
}
.modal .container .item__name {
  font-size: 1rem;
  font-weight: 500;
}
.modal .container .item__marker {
  width: 30%;
  font-size: 1.2rem;
  font-weight: 300;
}
